:root {
    --teal: #5CDB95;
    --yellow: #EDF5E1;
    --blue: #05386B;
}

body {
    background-color: var(--teal);
    color: var(--yellow);
    background-repeat: no-repeat;
    background: linear-gradient( rgba(20, 20, 20, .9), rgba(20, 20, 20, .9)), url(ub-banner.jpg);
    background-size: cover;
    
}

.aboutButton {
    width: 90%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}

.about {
    padding-top: 50px;
}


/* styling for the welcome page */

.welcome-page-content {
 width: 60%;
 height: 40%;
 margin: auto;
padding-top: 50px;
text-align: center;
}

.new-login-btn{
   display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    border: solid 1px black;
    background: white;
    border-radius: 3px;
    transition: .4s;
    width: 300px;
}

.new-login-btn:hover {
    background: #cbedff;
    color: #FFF;
}


.welcome-page-title {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--teal);
}

.welcome-text{
    display: inline-block;
    margin:0;
    width: 50%;
    padding-top: 30px;
    font-size: 15px;
    color: white;
}

hr.hr-navbar {
    border-top: .5px solid black;
}

.bottompad {
    padding-bottom: 100px;
}

.welcome-page-buttons {
    width: 40%;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.route-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.welcome-page-buttons:hover,
.aboutButton:hover {
    background-color: rgb(0, 0, 131);
    color: white;
}

.navlink:hover,
.dropbtn:hover {
    color: blue;
}

.centerp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.logo a {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-decoration: none;
}

.logo a:hover {
    color: blue;
}

.header {
    padding-left: 10px;
}

.menu_welcomePage {
    font-family: 'Roboto', sans-serif;
    float: right;
}

ul li {
    display: inline;
    padding: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul li a:hover {
    text-decoration: underline;
}

.selectButton-wide {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}


/*-------------------- styling for the tutor signup page */

.modal{
    height: 500px;
    background-color: darkblue;
    width: 30%;
    margin: auto;
}

.modal-input input{

  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.log_in_input,
.sign_up_input  {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_text_field {
    padding-bottom: 40px;
}

input[type="submit"]:hover {
    background-color: blue;
    color: white;
}

#tutor_signup_div {
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

#tutor_signup_submit,
#log_in_button {
    display: inline-block;
    border: 0px solid #ccc;
    margin-top: 60px;
    background-color: white;
    color: black;
    width: 100%;
}

#tutor_signup_submit:hover,
#log_in_button:hover {
    background-color: rgb(0, 0, 131);
}

#forgot_link_id {
    color: black;
    font-weight: bold;
}

.message {
    color: red;
    font-size: larger;
    display: block;
}


/* search style */

.selectButton {
    width: 100%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}

.selectButton:hover,
.calendarView:hover,
.selectButton2:hover {
    background-color: rgb(0, 0, 131);
    color: white;
}

.selectButton2 {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}

.delButton {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(214, 3, 3);
    cursor: pointer;
    border: none;
    color: white;
}

.delButton:hover {
    background-color: rgb(134, 4, 4);
}

.info {
    font-size: medium;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info td {
    height: 50px;
}

.info1 {
    font-size: medium;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 140px;
}

.center {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.calendarView {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}

.change {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.dd {
    text-align: center;
}

.input1 {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input2 {
    width: 70%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* ~~~~~~~~~~~~~~~~~~~~Tutor Calendar View style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#calendar_tutor {
    font-family: sans-serif;
    width: 85%;
    margin: auto;
    border-spacing: 0;
    /* border-collapse: separate; */
    table-layout: fixed;
    margin-bottom: 50px;
}

#calendar_tutor td {
    height: 30px;
    text-align: center;
}

#calendar_tutor tr {
    height: 30px;
}

.day_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.day_container h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
}

#popup_open {
    position: fixed;
    bottom: 10%;
    right: 45%;
    text-align: center;
    background: #fff;
    padding: 10px, 15px;
    color: #b9b739;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px, 6px, 29px, -4px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

.day_popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day_popup_content {
    height: 700px;
    width: 500px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    position: relative;
}

.day_popup_content label {
    padding: 0;
    color: darkgreen;
}

.day_popup_content input {
    margin: 10px auto;
    display: block;
    width: 80%;
    padding: 8px;
    border: 1px solid gray;
}

#day_popout_button {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.day_close {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px, 6px, 29px, -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


/* 



*/


/* ~~~~~~~~~~~~~~~~~~~end of Tutor Calendar View style~~~~~~~~~~~~~~~~~~~~~~ */


/* styling for the button on tutor view of the tutor calendar page */

#calender_tutor {
    margin-left: 15%;
    margin-right: 15%;
}


/* styling for tutor page schedule */

.studentViewCalendar {
    height: 650px;
    width: 650px;
}

.title-studentView-calendar {
    text-align: center;
}


/* styling for student appt page */

.infoAppt {
    width: 70%;
    padding-top: 100px;
    font-size: larger;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.infoAppt td {
    height: 50px;
    font-size: small;
}

.cancel {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 2px;
    font-size: 11px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}

.claim {
    width: 100%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.rate {
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 2px;
    font-size: 13px;
    background-color: rgb(233, 247, 112);
    cursor: pointer;
    border: none;
    color: black;
}

.verify {
    padding-left: 10px;
    color: red;
    text-decoration: none;
}

.verify:hover {
    color: rgb(131, 11, 11);
    cursor: pointer;
    text-decoration: underline;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ profile styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.score:hover {
    color: blue;
}

.profilePicture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.contact-tutor-btn:link,
.contact-tutor-btn:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 130px;
}

.contact-tutor-btn:hover,
.contact-tutor-btn:active {
    background-color: gray;
}


/* style for my progress dropdowns */


/* Dropdown Content (Hidden by Default) */

.dropbtn {
    background: none;
    border: none;
    margin: 0;
    color: black;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    font-family: "Alatsi", sans-serif;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~student appt styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#student_appt_info_header {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 160%;
    margin: auto;
    padding-top: 20px;
}

#student_appointment_div {
    background-color: #f2f2f2;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}

.exam_student_input {
    width: 100%;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    display: block;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#num_of_exams {
    width: 100%;
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    display: block;
    height: 40px;
}

#student_appt_submit {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    background-color: rgb(0, 63, 99);
    color: #b1cdd0;
    height: 30px;
    margin-top: 5px;
    display: block;
}

#student_appt_submit:hover {
    background-color: #005eac;
}

#student_appointment_label {
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    display: block;
    margin-top: 20px;
}

#student_appointment_div2 {
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end student appt styling ~~~~~~~~~~~~~~~~~~~~~~~~ */


/* styling for the list of tutor page */


/* table styling */

table,
th,
td {
    border: 1px solid black;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end student appt styling ~~~~~~~~~~~~~~~~~~~~~~~~ */
