:root {
    --teal: #008080;
    --yellow: #cbcaa5;
    --black: #000000;
}

body {
    background-color: var(--teal);
    color: white;
}


/* styling for the welcome page */

.welcome-page-title {
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.welcome-page-buttons {
    background-color: var(--black);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.route-buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.logo a {
    font-family: "Righteous", cursive;
    text-decoration: none;
}

.header {
    padding: 10px;
}

.menu_welcomePage {
    font-family: "Alatsi", sans-serif;
    float: right;
}

ul li {
    display: inline;
    padding: 50px;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}


/*------------ syed-------- styling for the tutor signup page */

.log_in_input, .sign_up_input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_text_field {
    padding-bottom: 40px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#tutor_signup_div {
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

#tutor_signup_submit, #log_in_button{
    display: inline-block;
    border: 0px solid #ccc;
    margin-top: 10px;
    background-color: #45a038;
    width: 100%;
    padding: 12px;
}

#tutor_signup_submit:hover, #log_in_button:hover{
    background-color: #52e93e;
}

#forgot_link_id{
    color: yellow;
    font-weight: bold;
}
<<<<<<< HEAD
.message{
    color:red;
    font-size: larger;
}
=======
>>>>>>> 961210311904361052dd274e4c9ff68d8781e946


/* search style */


.selectButton{
    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.info{
    font-size: larger;
    width: 50%;
    margin-left: 25%;    
    margin-right: 25%; 
    text-align: center;   
}
.info td{
    height:50px;
}
.info1{
    font-size: larger;
<<<<<<< HEAD
    width: 50%;
    margin-left: 25%;    
    margin-right: 25%; 
    text-align: center;   
    margin-top: 140px;
=======
    /* text-align: center; */
    margin-top: 40px;
}
.info1{
    margin-left: 20%;
    margin-right: 40%;
    font-size: larger;
    text-align: right;
    margin-top: 40px;

>>>>>>> 961210311904361052dd274e4c9ff68d8781e946
}
.center{
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
 
}
.calendarView{
    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.change{
    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.dd{
    text-align: center;
}
<<<<<<< HEAD
.input1{
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* ~~~~~~~~~~~~~~~~~~~~Tutor Calendar View style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
=======

/* ~~~~~~~~~~~~~~~~~~~~Tutor Calendar View style ~~~~~~~~~~~~~~~~~~~~~~~~~~ */


>>>>>>> 961210311904361052dd274e4c9ff68d8781e946

#calendar_tutor{
    font-family:sans-serif;
    width: 85%;
    margin: auto;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin-bottom: 50px;
    	  
}
#calendar_tutor td{
    text-align: center;
}

.day_container{
<<<<<<< HEAD
    position : absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align:center;
}

.day_container h1{
    color: #fff;
	font-size : 36px;
	margin-bottom: 40px;
}


.add-or-edit-button{
    /* b9b739 */
    background: #fff;
	padding: 10px, 15px;
	color : #b9b739;
	font-weight: bolder;
	/* text-transform: uppercase; */
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 6px, 6px, 29px, -4px rgba(0,0,0,0.75);
	margin-top:25 px;
	text-decoration: none;
	transition: 0.4s;
=======
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.day_container h1{
    margin: auto;
    margin-bottom: 40px;
}

.day_popup{
    margin: auto;
    height: 400px;
    width: 600px;
    background: white;
    border-radius: 5px;
    position: relative;
    
}

.add-or-edit-button{
    margin-top:2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    background-color: #b9b739;
    cursor: pointer;
    border: none;
    color: #181818;
>>>>>>> 961210311904361052dd274e4c9ff68d8781e946
}

.add-or-edit-button:hover{
    background-color: #f7ea33;
    color: black;
}

<<<<<<< HEAD
.day_popup{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.day_popup_content{
	height: 700px;
	width: 500px;
	background: #fff;
    padding: 40px;
	border-radius: 5px;
	position: relative;
}

.day_popup_content label{
    padding: 0;
    color: darkgreen;
}

.day_popup_content input{
    margin: 10px auto;
    display: block;
    width: 80%;
    padding: 8px;
    border: 1px solid gray;
}

#day_popout_button{
    margin: 20px auto;
	display: block;
	width: 50%;
	padding: 8px;
    border: 1px solid gray;
}

.day_close{
	position: absolute;
	top: -15px;
	right: -15px;
	background: #fff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-shadow: 6px, 6px, 29px, -4px rgba(0,0,0,0.75);
	cursor: pointer;
}
/* 



*/

=======
>>>>>>> 961210311904361052dd274e4c9ff68d8781e946
/* ~~~~~~~~~~~~~~~~~~~end of Tutor Calendar View style~~~~~~~~~~~~~~~~~~~~~~ */

/* styling for the button on tutor view of the tutor calendar page */ 


#calender_tutor{
    margin-left: 15%;
    margin-right: 15%;
    
}
<<<<<<< HEAD
=======
/* end of tre's stylization */
>>>>>>> 961210311904361052dd274e4c9ff68d8781e946

/* styling for tutor page schedule */

.studentViewCalendar {
    height: 650px;
    width: 650px;

}

.title-studentView-calendar {
    text-align: center;
}